.text {
  width: 300px;
  padding: 15px;
  margin: 15px;
  background-color: #eee;
  border-radius: 12px;
}

.limited-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
